{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="post">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <p>{{post.author }} > {{post.created}}</p>
    <p><button value="{{post.get_absolute_url_to_like}}" name="postLike">Like</button> -> {{post.like.count}}</p>
    <br>
    <div class="commentForm">
        {% csrf_token %}

        {{ comment_form.as_p }}
        <button type="submit" id="submit">Submit</button>
    </div>
    <div class="comments">
        {% for comment in comments %}
        <div class="comment">
            <h4>{{comment.user}} -> {{comment.updated}}</h4>
            <p>{{comment.text}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    const url = document.URL;

    document.getElementById('submit').addEventListener('click', function () {
        let comment = document.getElementById('id_text').value;
        let csrf = document.getElementsByName('csrfmiddlewaretoken');
        let csrfValue = csrf[0].value;

        $.ajax({
            url: url,
            type: "POST",
            headers: {
                "X-CSRFToken": csrfValue,
            },
            data: JSON.stringify({"comment": comment}),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response.responseJSON.errors);
            }
        });
    });
</script>
<script type="text/javascript"
        src="{% static 'js/like.js' %}"></script>
{% endblock javascript %}
