{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="post">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
        <a href="{{post.get_absolute_url}}">Details</a>
        <p>{{post.author }} > {{post.created}}</p>
        <p><button value="{{post.get_absolute_url_to_like}}" name="postLike">Likes</button> -> {{post.like.count}}</p>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript"
        src="{% static 'js/like.js' %}"></script>
{% endblock javascript %}